<!-- app/views/user_mailer/goodbye_email.html.erb -->

<p>Ciao <%= @user.username %>,</p>

<p>Siamo spiacenti di vederti andare. Grazie per aver utilizzato il nostro servizio.</p>

<p>Distinti saluti,</p>

<p>Il team di BlogCreator</p>
